<div class="section">
    <div class="container">
        <div class="row">
            <div class="col l5">
                <h1>Andrey_Drobinko<span class="blink">|</span></h1>
                <h5><span class="red lighten-5 grey-text">want to be a</span> Data Scientist</h5>
                <br>
                <img src="{{ url_for('static', filename='Gallery.png') }}" alt="" class="responsive-img">
            </div>



            <div class="col s12 l7 h9">
                <ul class="collapsible z-depth-0" data-collapsible="accordion">
                <li class="z-depth-0">
                    <div class="collapsible-header active">
                        <i class="material-icons">assignment_ind</i>About me
                    </div>                    
                    <div class="collapsible-body">
                        <span>Привет! Я закончил МАИ, отработал 5 лет в компании Boeing. Поработал в США. Решил поменять свою специальность. Сейчас посвещаю все свободное время изучению Data Science.</span>
                        <p>Список курсов по data science:</p>
                        <ul class="collection">
                            <li class="valign-wrapper"><i class="material-icons green-text">done</i>Специализация МФТИ и Яндекс</li>
                            <li class="valign-wrapper"><i class="material-icons green-text">done</i>Fastai</li>
                            <li class="valign-wrapper"><i class="material-icons">chevron_right</i>ODS Ml Open (<a href="https://docs.google.com/spreadsheets/d/1HMn7uA8CwfBoWuDkiJkVomkKkoOVXyIm-vKFZlISotk/edit#gid=2026966465">текущий рейтинг</a>)</span></li>
                            <li class="valign-wrapper"><i class="material-icons">chevron_right</i>CS231n</li>
                        </ul>
                    </div>
                </li>
                <li class="z-depth-0">
                <div class="collapsible-header"><i class="material-icons">adb</i>Machine Learning</div>
                <div class="collapsible-body"><span>CS231n... </span></div>
                </li>
                <li class="z-depth-0">
                <div class="collapsible-header"><i class="material-icons">settings</i>Data Engineering</div>
                <div class="collapsible-body"><span>Spark, SQL</span></div>
                </li>
                <li class="z-depth-0">
                <div class="collapsible-header"><i><img src="{{ url_for('static', filename='vc-git.png') }}" alt="" width="25"></i>DevOps</div>
                <div class="collapsible-body"><span>Github, AWS, Docker</span></div>
                </li>
                <li class="z-depth-0">
                <div class="collapsible-header"><i><img src="{{ url_for('static', filename='1336944.png') }}" alt="" width="25"></i>Kaggle</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>


