<div class="section teal lighten-3">
    <div class="slide">
        <div class="container">
            <div class="row">
                <div class="col l6">
                    <h1>MNIST. AWS Lambda. S3</h1>
                    <p>Keras 8 Layers MNIST train 28x28px.</p>
        
                    <div id="debug">			
                        <input type="button" id="clearButton" value="Clear" class="btn">
                    </div> <br>
                    <canvas id="canvas" width="280" height="280" style="border:8px solid; cursor: crosshair;"></canvas>
                        
                    <div>    
                        <a href="#" class="myButton waves-effect btn"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></a>			
                    </div>
                    <div >
                        <h1>RESULT: <span id="result"></span></h1>
                    </div>

                </div>

                <div class="col l6 hide">
                        <br><br><br><br><br><br>
                        <p>Keras 8 Layers MNIST train 56x56px.</p>
                        <div>    
                            <a href="#" class="myButton waves-effect btn"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></a>			
                        </div>
                        <div >
                            <h1>RESULT: <span id="result2"></span></h1>
                        </div>
                        <br><br><br>
                        <p>Keras 8 Layers MNIST train 56x56px.</p>
                        <div>    
                            <a href="#" class="myButton waves-effect btn"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></a>			
                        </div>
                        <div >
                            <h1>RESULT: <span id="result2"></span></h1>
                        </div>
    
                </div>

            </div>
        </div>
    </div>

    <div class="slide">
        <div class="container">
            <h1>Чатбот - Помощник</h1>
            <p>В ответ на запрос подбирает подходящий букет, из понравившихся подбирает похожие</p>
            <ul>
                <li>Создание своего дата сета. Python Web Scrapping</li>
                <li>Inception Classificator</li>
                <li></li>
            </ul>
        </div>
    </div>

    <div class="slide blue">
        
    </div>
</div>