<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.fullPage.css') }}" />
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  </head>
  <body>
    
    {% block body %} <!-- block content --> {% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.fullPage.js') }}"></script>
    <script>
            $(document).ready(function() {
                $('#fullpage').fullpage();
                $('.collapsible').collapsible();
            });
            
    </script>

    <script src="{{ url_for('static',filename='index.js') }}"></script>
    <script type="text/javascript">
    
      $(".myButton").click(function(){
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $('#result').text($SCRIPT_ROOT + "/predict/");
            var canvasObj = document.getElementById("canvas");
            var img = canvasObj.toDataURL();
            $.ajax({
              type: "POST",
              url: $SCRIPT_ROOT + "/predict/",
              data: img,
              success: function(data){
                $('#result').text(data);
              }
            });
        });
    
    </script>
  </body>
</html>